@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "inter";
    src: url(./fonts/Inter.ttf) format("truetype");
  }
  @font-face {
    font-family: "roboto";
    src: url(./fonts/Roboto.ttf) format("truetype");
  }
  @font-face {
    font-family: "ubuntu";
    src: url(./fonts/Ubuntu.ttf) format("truetype");
  }
}
